<div class ="p-3">
  <div>
    <h2>Web part</h2>
    <ul>
      <li>Angular</li>
      <li>Bootstrap</li>
      <li>Image/File cropping and upload</li>
      <li>Dynamic search ( Cities )</li>
      <li>Remote  Eception management</li>
    </ul>
  </div>
  <div>
    <h2>REST part</h2>
    <ul>
      <li>Spring boot</li>
      <li>REST</li>
      <li>JPA</li>
      <li>CORS</li>
      <li>JWT Security</li>
      <li>Mail sending</li>
      <li>Blob management</li>
    </ul>
  </div>
  <div>
    <h2>To do ...</h2>
    <ul>
      <li>Pagination</li>
      <li>Map</li>
      <li>Planning</li>
      <li>Some charts ...</li>
      <li>Finalize internationalization</li>
    </ul>
  </div>

</div>
