<div class="p-3">
  <div>
    <div class="d-flex">
      <img src="/assets/img/architecture.jpg" />
      <div class="d-flex flex-column justify-content-center bold">
        <div>1 - Browser ask for index.html</div>
        <div>2 - Web server returns angular application</div>
        <div>3 - Application asks or sets for resources</div>
        <div>4 - Server replies in JSON Format</div>
      </div>
    </div>
    <h2>Web part</h2>
    <ul>
      <li>Angular</li>
      <li>Bootstrap</li>
      <li>Image/File cropping and upload</li>
      <li>Dynamic search ( Cities )</li>
      <li>Remote Exception management</li>
    </ul>
  </div>
  <div>
    <h2>REST part</h2>
    <ul>
      <li>Spring boot</li>
      <li>REST</li>
      <li>JPA</li>
      <li>CORS</li>
      <li>JWT Security</li>
      <li>Mail sending</li>
      <li>Blob management</li>
    </ul>
  </div>
  <div>
    <h2>To do ...</h2>
    <ul>
      <li>Pagination</li>
      <li>Map</li>
      <li>Planning</li>
      <li>Some charts ...</li>
      <li>Finalize internationalization</li>
      <li>Some tests ...</li>
    </ul>
  </div>
</div>
