<div class="container w-100">
  <div class="row" style="margin-top: 5%;">
      <div class="text-center col-md-12">
          <input type="file" (change)="fileChangeEvent($event)" />
      </div>
  </div>
  <div class="row" style="margin-top: 5%;">
      <div class="text-center col-md-8">
          <h5>Crop Image</h5>
          <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          [resizeToWidth]="128"
          format="png"
          output="base64"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
      <div class="text-center col-md-4">
          <h5>Preview</h5>
          <img [src]="croppedImage" />
      </div>
  </div>
  <div class="row text-end">
    <div class="col text-end">
    <button type="button"  class="button m-2 p-2" (click)="close()">OK</button>
  </div>
  </div>
</div>
