<div class="d-flex justify-content-center" >
<label for="username" class="p-1" i18n>User name :</label>
<input type="text" name="username" [(ngModel)]="principal.username">
<label for="password1" class="p-1" i18n>Password :</label>
<input id="password1Id" type="password" name="password1" [(ngModel)]="password1" (change)="checkEqualityPassword()">
<label for="password2" class="p-1" i18n>Re-type password :</label>
<input id="password2Id" type="password" name="password2" [(ngModel)]="password2" (change)="checkEqualityPassword()">
</div>
